[submodule "nim/imhex_plugin_test/src/imhex"]
	path = nim/imhex_plugin_test/src/imhex
	url = https://github.com/WerWolv/ImHex
[submodule "zig/imhex_zlib/src/imhex"]
	path = zig/imhex_zlib/src/imhex
	url = https://github.com/WerWolv/ImHex
